.top-border{
    border-top: 5px solid rgba(241, 169, 160, 0.7);
}

.website-images{
    width:70%;
    margin: auto;
}

.picture-size{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 450px) {
    li {
        width: 95%;
        margin: auto auto auto auto;
    }
}