.about-me-container{
    padding: 3rem;
    background: rgba(241, 169, 160, 0.8);
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-me-container{
        padding: 3rem 0.5rem 3rem 0.5rem;
        background: rgba(241, 169, 160, 0.8);
        color: white;
    }
}