.alternate-background-one{
    background-color: rgba(236, 236, 236, 0.5)
}

.alternate-background-two{
    background-color: rgba(218, 223, 225, 0.5);
}

.project-container{
    padding: 3rem 0 3rem 0;
}

.bottom-border{
    border-bottom: 5px solid rgba(241, 169, 160, 0.7);
}

.project-name{
    color: rgba(46, 49, 49, 1);
}

.project-description-container{
    width: 80%;
    margin: auto;
    color: rgba(108, 122, 137, 1);
}

.website-link-styles{
    color: white!important;
    background-color: rgba(241, 169, 160, 0.7) !important;
    text-decoration: none;
    margin-bottom: 2rem;
    border: 3px solid white!important;
    font-size: 1.5rem;
    width: 20rem;
}

h1{
    margin: 0px!important;
}

.icon-style-projects-page{
    color: rgba(241, 169, 160, 0.7);
    margin-right: 5px;
}

.bullet-point-style{
    margin: 3% 2rem 3% 2rem;
}

.website-points{
    width: 60%;
    margin: auto;
}