.my-name-styles{
    border: 0.3rem solid rgba(108, 122, 137, 1);
    margin: 3rem auto 0.5rem auto;
    padding: 0.3rem;
    width: 30rem;
    font-size: 1.5rem;
}

.my-picture{
    margin-top: 1rem;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}