@media only screen and (max-width: 1280px) {
    .icon-style{
        margin-top: 1.6rem;
    }
}

@media only screen and (max-width: 1250px) {
    .icon-style{
        margin-top: 1.2rem;
    }
}

@media only screen and (max-width: 1200px) {
    .icon-style{
        margin-top: 0.8rem;
    }
}

@media only screen and (max-width: 1140px) {
    .icon-style{
        margin-top: 0.4rem;
    }
}

@media only screen and (max-width: 1080px) {
    .my-name{
        font-size: 1.5rem;
    }

    .icon-style{
        margin-top: 0rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .my-name {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .icon-style {
        font-size: 2rem;
        color: rgba(241, 169, 160, 0.7);
    }
}

@media only screen and (max-width: 510px) {
    .contact-page-container{
        padding: 0 0 0 0;
    }

    .content-container{
        padding: 1rem!important;
        width: 100%;
    }

    .icon-style{
        font-size: 2rem;
    }
}